@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #4E5150;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    padding-top: 20px ;
    margin-left: 25.7%;
}

main{
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
}





.bar{
    border: 1px solid;
    padding: 14px;
    width: 400px;
    border-radius: 10px;
    color: #828282;
    align-items: center;
    margin: 8px 0;
    margin-bottom: 20px;
    
}

h2{
    padding: 40px 0 15px 0;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}

.info{
    margin-left: 10px;
    width: 90%;
    font-size: 16px;
    background: transparent;
    border: 0;
    outline: none;
}

label{
    padding: 20px 0;
    font-size: 14px;
}

.bar-low{
    border: 1px solid;
    padding:16px ;
    width: 184px;
    border-radius: 10px;
    color: #828282;
    align-items: center;
    margin: 5px 0;
    display: flex;
    font-size: 16px;
    outline: none;
}

.info-small{
    padding-left: 9px;
    border: none;
    width: 150px;
    font-size: 16px;
    background: transparent;
    border: 0;
    outline: none;

}

#postal-code{
    text-align: center;
    -moz-appearance: textfield;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -moz-appearance: none;
}

.form2{
    width: 430px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.bottom1{
   outline: none;
    
}

.btn{
    position: relative;
    padding: 13px 25px;
    bottom: 40px;
    left: 65px;
    top: 43px;
    background: #F2994A;
    border-radius: 12px;
    color: #ffffff;
    border: none;  
    cursor: pointer;
}

.btn:hover{
    color: #F2994A;
    background-color: #2c1a1a;

}


.lab-bottom{
    font-size: 12px;
}

.final{
    padding: 10px;
}


/* ---------------- */


/* ASIDE */


aside{
    padding: 20px;
    width: 390px;
    margin-bottom: auto;
    background: #F2F2F2;
    border-radius: 12px;
    margin-top: 100px;
}

aside img{
    width: 170px;
    height: 135px;
    border-radius: 12px;
}

.products{
    display: flex;
    flex-direction: column;
}

.prod{
    display: flex;
    padding: 10px;
}

.price{
    width: 100%;
    padding-left: 20px;
}

.count-area{
    display: flex;
    margin: 20px 30px ;
    border: 1px solid #828282;
    border-radius: 12px;
    align-items: center;
    margin-left: auto;
    padding: 12px 15px;
    justify-content: space-between;

}


.count-area button{
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    background: #E0E0E0;
    color: #363636;;
    cursor: pointer;
    
    
}

a {
    text-decoration: none;
}

.money{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.money :nth-child(1){
    padding-right: 15px;
}

.money p:nth-child(1){
    color: #F2994A;
    font-weight: 600;
    font-size: 16px;
}

.money p:nth-child(2){
    color: #4E5150;
    font-weight: 600;
    font-size: 12px;
    text-decoration-line: line-through;
}

.payment{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    color: #333333;
    font-weight: 600;
}

.pay{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #BDBDBD;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

footer a{
    text-decoration: none;
    color: #4E5150;
}

footer a:hover{
    color:#235237;
}

/* ------------------ */


/* MEDIA QUERY */

@media(max-width:970px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        
    }

    aside{
        order: 1;
        grid-column: 1;


    }

    .form{
        order: 2;
        grid-column: 1;
    }

    h1{
        display: flex;
        justify-content: center;
        margin: auto;
        
    }

 
}
